source_up

# used for k0sctl apply which does not handle ssh known hosts correctly
export SSH_KNOWN_HOSTS=/dev/null
export TAILSCALE_KEY=tskey-auth-***********************

export BIN_DIR="$HOME/.rd/bin"

# Terraform S3 backend requires AWS_* env vars (Scaleway is S3-compatible)
export AWS_ACCESS_KEY_ID=$(scw config get access-key)
export AWS_SECRET_ACCESS_KEY=$(scw config get secret-key)
