source_up

# used for k0sctl apply which does not handle ssh known hosts correctly
export SSH_KNOWN_HOSTS=/dev/null
export TAILSCALE_KEY=tskey-auth-***********************

export BIN_DIR="$HOME/.rd/bin"
