# See values at https://github.com/argoproj/argo-helm/blob/main/charts/argocd-image-updater/values.yaml

argocd-image-updater:
  resources:
    requests:
      cpu: "50m"
      memory: "100Mi"
    limits:
      memory: "200Mi"
